* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.flex {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.todo {
  &__container {
    background-color: white;
    margin: 0 auto;
    width: 100%;
    max-width: 30rem;
    padding: 2rem 0;
  }

  &__title {
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
  }
}


.todo-form {
  &__input {
    width: 100%;
    padding: 2rem 1rem;
  }
  &__btn {
    background-color: purple;
    text-transform: uppercase;
    color: white;
    width: 100%;
    display: inline-block;
    border: none;
    font-weight: bold;
    padding: 2rem;
    cursor: pointer;
    &:hover {
      background-color: lightslategray;
    }
  }
}

.todo__tarefas {
  &-lista {
    padding: 0;
  }
  &-lista li {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    font-size: 1rem;
    list-style: none;
    padding-left: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    & .checked {
      color: #ccc;
    text-decoration: line-through;
    }

    &.over {
      border: 1px dashed #ccc;
    }
  }
}


